{% extends 'base.html' %}
{% block container %}

<!-- Icon Cards-->
<div class="row">
	<div class="col-xl-4 col-sm-6 mb-3">
		<div class="card text-white bg-primary o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fas fa-fw fa-comments"></i>
				</div>
				<div class="mr-5">NEW - {{ new_tasks|default_if_none:0 }}</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-sm-6 mb-3">
		<div class="card text-white bg-warning o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fas fa-fw fa-list"></i>
				</div>
				<div class="mr-5">IN PROGRESS - {{ in_progress_tasks|default_if_none:0 }}</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-sm-6 mb-3">
		<div class="card text-white bg-success o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fas fa-fw fa-shopping-cart"></i>
				</div>
				<div class="mr-5">DONE = {{ done_tasks|default_if_none:0 }}</div>
			</div>
		</div>
	</div>
</div>

<!-- DataTables Example -->
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-table"></i>
		Tasks<a href="{% url 'create-task' %}"> / Create new task</a>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>TODO</th>
						<th>IN PROGRESS</th>
						<th>DONE</th>
					</tr>
				</thead>
				<tbody>
					{% for task in object_list %}
						<tr>
							<td>{% if task.status == 'TODO' %}<a href="{% url 'update-task' pk=task.pk %}">{{ task.subject|truncatechars:20 }}</a>{% endif %}</td>
							<td>{% if task.status == 'IN_PROGRESS' %}<a href="{% url 'update-task' pk=task.pk %}">{{ task.subject|truncatechars:20 }}</a>{% endif %}</td>
							<td>{% if task.status == 'DONE' %}<a href="{% url 'update-task' pk=task.pk %}">{{ task.subject|truncatechars:20 }}</a>{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

{% endblock container %}