{% extends 'base.html' %}

{% if object %}
	{% block popup %}
		{% url 'delete-task' pk=object.pk as delete_object_url %}
		{% include 'inc/popup.html' with target_modal_id='deleteModal' question='Delete this task?' link_text='Delete' url=delete_object_url %}
	{% endblock popup %}
{% endif %}

{% block container %}

	<form action="." method="post">
		{% csrf_token %}
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %}

		{{ form }}

		<div class="row mt-5 mb-5">
			<div class="col-md-4">
				<button class="btn btn-primary btn-block" type="submit">Save</button>
			</div>
			{% if object %}
				<div class="col-md-4">
					<a class="btn btn-info btn-block" href="{% url 'log-task' pk=object.pk %}">Log</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn-danger btn-block" href="#" data-toggle="modal" data-target="#deleteModal">Delete</a>
				</div>
			{% endif %}
		</div>
	</form>

{% endblock container %}